@import "_variables.scss";
@import "_mixins.scss";

.contact {
  opacity: 0;
  pointer-events: none;

  &__links {
    display: flex;
    justify-content: center;
    gap: 0;
    transition: 0.2s ease-in-out;

    a {
      color: $peach;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      line-height: 1;
      font-weight: 600;

      svg {
        color: $peach;
        display: block;
        height: 20px !important;
      }

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

@media (min-width: 992px) {
  body,
  html {
    font-size: 18px !important;
  }
}

@media (min-width: 768px) {
  body,
  html {
    font-size: 17px !important;
  }
}
