.portfolio-modal {
  height: 100%;
  width: 100%;
  max-width: 1000px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  margin: 0 auto;
  z-index: -1;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  &--open {
    z-index: 2;
  }

  &__content {
    display: block;
    width: 100%;
    height: 796px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    overflow: auto;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;

    &--open {
      right: 0;
    }

    h3 {
      margin: 0 0 15px 0;
      font-size: 1.75rem;
    }

    h4 {
      margin: 0 0 5px 0;
      font-size: 1.15rem;
    }

    p {
      line-height: 1.4;
      margin: 0;
    }
  }

  &__snapshots {
    overflow: auto;
    img {
      width: 100%;
    }
  }
}
