@import "_variables.scss";

.portfolio {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  transition: 0.5s ease-in-out;
  background-color: $peach;
  // overflow-x: hidden;

  &--open {
    right: 0;
  }

  &__back {
    position: absolute;
    left: 40px;
    top: 15px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;

    .emoji {
      animation: back-btn 2s infinite;
      font-size: 1.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(172px, 172px);
    position: absolute;
    top: 40px;
    width: 100%;

    max-width: 1160px;
    margin: 0 auto;
    padding: 25px;

    &__card {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      margin: 0;
      transition: 0.2s ease-in-out;

      &:hover {
        margin: 20px;
        border-radius: 12px !important;

        .portfolio-list__content {
          height: 100% !important;
          opacity: 1;
        }

        .portfolio-list__thumbnail img {
          max-width: 90%;
        }
      }

      &:nth-child(1) {
        border-radius: 12px 0 0 0;
      }

      &:nth-child(3) {
        border-radius: 0 12px 0 0;
      }

      &:nth-last-child(1) {
        border-radius: 0 0 12px 0;
      }
    }

    &__thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      pointer-events: none;
      img {
        pointer-events: none;
        max-width: 180px;
        width: 100%;
        transition: 0.4s ease-in-out;
      }
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(47, 7, 67, 0.85);
      z-index: 1;
      transition: 0.2s ease-in-out;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 12px;

      h2 {
        font-weight: 500;
        padding: 20px;
        text-align: center;
        font-size: 22px;

        &:hover {
          cursor: default;
        }
      }

      span {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 13px;
        border: 1px solid #fff;
        display: block;
        line-height: 1;
        padding: 8px;
        border-radius: 6px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__myBlindSpots {
      background-color: #212666;
    }

    &__boxti {
      background-color: #9dd3d1;
    }

    &__annieP {
      background-color: #ff0050;
    }

    &__KBC {
      background-color: #ebd65f;
    }

    &__allWest {
      background-color: #ff6f3c;
    }

    &__perfectCotton {
      background-color: #fff;
    }

    &__PSM {
      background-color: #c7edf7;
    }
  }
}

@media (min-width: $md) {
  .portfolio {
    &__back {
      left: 0;
      height: 100%;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-list {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(230px, 230px);
      padding: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: $lg) {
  .portfolio {
    &-list {
      grid-auto-rows: minmax(265px, 265px);
    }
  }
}
